<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      En blanco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Primera pagina</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>primera pagina</strong>
    <br><strong>{{nombre}}</strong>

    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <div class="ion-text-center">
    <ion-text color="primary" [routerLink]="['/tercera']"> 
      <h1>ir a tercera pagina</h1>
    </ion-text>
  </div>
</ion-content>
